<a href="https://colab.research.google.com/github/MartyWeissman/Miscellaneous-teaching/blob/master/LakeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving LakeOpen.csv to LakeOpen.csv

In [3]:
import io
lake_df = pd.read_csv(io.BytesIO(uploaded['LakeOpen.csv']))

In [4]:
lake_df.head()

   Year Opening  Frozen  Unnamed: 3  Days frozen
0  1948  12-Apr   8-Dec         NaN          NaN
1  1949  18-Apr  25-Nov         NaN        131.0
2  1950  19-Apr  24-Nov         NaN        145.0
3  1951  18-Apr  19-Nov         NaN        145.0
4  1952  21-Apr  28-Nov         NaN        153.0

In [5]:
from google.colab import files
uploaded = files.upload()

Saving HibbingWeather.csv to HibbingWeather.csv

In [6]:
import io
hibbing_df = pd.read_csv(io.BytesIO(uploaded['HibbingWeather.csv']))

In [7]:
hibbing_df.head()

       STATION                  NAME      DATE  AWND  ...  SNWD  TAVG  TMAX  TMIN
0  US1MNSL0027  HIBBING 2.5 W, MN US  12/30/11   NaN  ...   NaN   NaN   NaN   NaN
1  US1MNSL0027  HIBBING 2.5 W, MN US    1/1/12   NaN  ...   3.0   NaN   NaN   NaN
2  US1MNSL0027  HIBBING 2.5 W, MN US    1/2/12   NaN  ...   NaN   NaN   NaN   NaN
3  US1MNSL0027  HIBBING 2.5 W, MN US    1/3/12   NaN  ...   3.0   NaN   NaN   NaN
4  US1MNSL0027  HIBBING 2.5 W, MN US    1/4/12   NaN  ...   3.0   NaN   NaN   NaN

[5 rows x 10 columns]

In [10]:
hibbing_df.DATE.describe()

count       54365
unique      27819
top       9/14/18
freq            7
Name: DATE, dtype: object